.background{
-fx-background-image: url('../resources/signup.jpg');
}
.login{
-fx-background-image: url('../resources/login.png');
}
.screen{
-fx-background-color:white;
-fx-border-color:darkblue;
-fx-border-width:5px;
}